.cache
.config
.ipynb_checkpoints
.ipython
.jupyter
.local
.npm
.bash_history
.python_history
CoinIpopt/*
other_scripts/*
temp_full_traj_optimisation.ipynb
OtherCode.ipynb
lure_EKF.ipynb
EKF_numpy.ipynb
converter_dlt.ipynb
Calib/camera_tool_box
.idea
